#webgl-canvas {
    flex-grow: 1;
    flex-shrink: 1;
    background: linear-gradient(0deg, #061320, #2971b4, #bbefff);
}

.fill {
    border: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    display: flex;
}
